body{
    max-width: 80%;
    margin: auto;
    font-family: helvetica;
}
input#headerTab{
    margin: 0.2em 0 0.2em 0;
    padding:0.3em 2em;
    border:0.1em solid #000000;
    border-radius:0.3em;
    width: 95%;
    font-weight:400;
    font-size: 2em;
    color:#000000;
    background-color:#FFFFFF;
    text-align:center;
}
input#headerTab{
    box-sizing: border-box;
}
input#headerTab[type="button"]:hover{
    background-color:#AAAAAA;
}
input#headerTab[type="button"].clicked{
    background-color:#AAAAAA;
}
ul#headerTab{
    padding-left: 1%;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: 0.2em solid #000000;
    border-top: 0.2em solid #000000;
}
li#headerTab{
    width:25%;
    float:left;
    list-style-type: none;
    display: table-cell;
}
h1{
    font-size: 3em;
    margin: 0.25em
}