body {
    display:inline-block;
    font-style: 'Helvetica';
    align-content: center;
}
button[name="meineKurseButton"]{
    display:inline-block;
    padding:0.35em 2.4em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.5em;
    width: 100%;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Helvetica';
    font-weight:400;
    font-size: 2em;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
}
button[name="meineKurseButton"]:hover{
    background-color:#AAAAAA;
}
@media all and (max-width:30em){
        button{
        display:block;
        margin:0.4em auto;
    }
}
table{
    table-layout: fixed;
    width: 50%;
}